@import url('https://fonts.googleapis.com/css?family-Roboto');

wrapper2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

wrapper2{

   background-color: #f3f5f9;

}

.wrapper2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100% ;
    padding: 0 20px;

}

.area{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13) ;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields .input {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;

}