<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem dos Veículos</title>
    <link rel="stylesheet" th:href="@{/assets/css/estilo.css}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>
<body>


<div class="wrapper">
    <div class="sidebar">
        <h2>BNT - IFPB</h2>
        <ul>

            <li><a href="/home"><i class="fas fa-home"></i>HOME</a></li>
            <li><a href="/veiculos"><i class="fas fa-car"></i>VEICULOS</a></li>
            <li><a href="/condutores"><i class="fas fa-user-alt"></i>CONDUTORES</a></li>
            <li><a href="/multas"><i class="fas fa-clipboard-list"></i>MULTAS</a></li>
            <li><a href="#"><i class="fas fa-clipboard-list"></i>LICENCIAMENTO</a>
                <ul align="center">
                    <li><a href="/licenciamentos/calculo-licenciamento">CONSULTAR</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fas fa-eye"></i>VIEWS</a>
                <ul align="center">
                    <li><a href="/condutorCarteira">CARTEIRA CONDUTOR</a></li>
                    <li><a href="/veiculoCondutor">VEICULO CONDUTOR</a></li>
                    <li><a href="/infracaoMultas">INFRACAO MULTA</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="main_content">
        <div class="header">BNT</div>

    </div>

</div>

    <div align="center">
        <h1>Consultar Licenciamento</h1>
        <form action="#" th:action="@{/licenciamentos/calculo-licenciamento}" method="post">
            <p align="center">Renavam: <input type="text" name="renavam" id="renavam" /></p>
            <p><input type="submit" value="Consultar" /><input type="reset" value="Limpar" /></p>
        </form>
    </div>
</body>
</html>
